@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: Oswald;
}

body {
  background-color: #202124;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 2px #3c4043;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  color: white;
}

.logo img {
  height: 100px;
  filter: invert(1);
}

.searchbarContainer {
  background-color: #303134;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  overflow: hidden;
}

.searchbarContainer:hover,
.searchbarContainer:focus {
  -webkit-box-shadow: 7px 14px 24px 1px rgba(0, 0, 0, 0.81);
  box-shadow: 7px 14px 24px 1px rgba(0, 0, 0, 0.81);
}

input#search-input,
button#search-button,
input,
input:focus {
  font-size: larger;
  background-color: transparent !important;
  border: none;
  color: white;
}

.dash-input {
  background-color: transparent !important;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button img {
  filter: invert(1);
  transition: 1s;
  padding: 20px;
  position: absolute;
  float: right;
}

.search-button img:hover {
  filter: invert(0.5);
}

:any-link {
  color: #8ab4f8;
  text-decoration: none;
}

:any-link:hover {
  text-decoration: underline;
}

#search-output {
  color: white;
  list-style-type: none;
}

ul,
li {
  list-style-type:square;
}

.plot {
  margin-top: 20px;
  border: solid 1px #3c4043;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resultsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-results {
  flex: 1;
  margin-right: 20px;
}

.book-details {
  flex: 1;
}

.plot {
  width: 100%;
}

.book-details {
  color: white;
  border: solid 1px #3c4043;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}
